<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" *ngIf="currentUser" [opened]="isNavBarOpened.getValue()">
    <mat-nav-list>
      <mat-list-item class="parent" [routerLink]="'/'" *ngIf="currentUser.getValue()?.deanery !== null">
        <span class="full-width">Мой деканат</span>
      </mat-list-item>
      <mat-list-item class="parent" [routerLink]="'/'" *ngIf="currentUser.getValue()?.department !== null">
        <span class="full-width">Моя кафедра</span>
      </mat-list-item>
      <mat-list-item class="parent" [routerLink]="'/deaneries'">
        <span class="full-width">Деканаты</span>
      </mat-list-item>
      <mat-list-item class="parent" [routerLink]="'/departments'">
        <span class="full-width">Кафедры</span>
      </mat-list-item>
      <mat-list-item class="parent" [routerLink]="'/users'" *ngIf="currentUser.getValue() !== null && this.permissionCheckService.isAdmin(currentUser.getValue().role)">
        <span class="full-width">Пользователи</span>
      </mat-list-item>
      <mat-list-item class="parent" [routerLink]="'/roles'" *ngIf="currentUser.getValue() !== null && this.permissionCheckService.isAdmin(currentUser.getValue().role)">
        <span class="full-width" >Роли</span>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Дополнительно</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
          expand_more
        </mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item [routerLink]="'/directions'">Направления</a>
        <a mat-list-item [routerLink]="'/'">Специализации</a>
        <a mat-list-item [routerLink]="'/'">Научные звания</a>
        <a mat-list-item [routerLink]="'/'">Научные степени</a>
        <a mat-list-item [routerLink]="'/'">Должности</a>
        <a mat-list-item [routerLink]="'/'">Типы работ</a>
        <a mat-list-item [routerLink]="'/'">Рабочие ставки</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
