.example-container {
  height: 90vh;
}
/*mat-sidenav{*/
/*  background-color: grey;*/
/*  color: white;*/
/*  font-size: 15px;*/
/*}*/

mat-sidenav-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  background-color: #F5F5F5;
}

mat-sidenav-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

mat-sidenav-content::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/*.example-container {*/
/*  height: 500px;*/
/*  border: 1px solid rgba(0, 0, 0, 0.5);*/
/*}*/

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  user-select: none;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}
