<!-- Toolbar -->
<mat-toolbar class="toolbar" role="banner" color="primary">


  <mat-icon (click)="openOrCloseNavBar()">menu</mat-icon>
  <span style="padding-left: 1%; padding-right: 3%"> БНТУ </span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
  </nav>
  <span class="example-spacer"></span>

  <mat-icon>home</mat-icon>
  <mat-icon>account_circle</mat-icon>

  <div *ngIf="!currentUser.getValue(); else logout">

    <button mat-button (click)="openSignInForm()">Войти</button>
    /
    <button mat-button (click)="openSignUpForm()">Зарегистрироваться</button>
  </div>

  <ng-template #logout>
    <span style="font-size: 18px">{{currentUser.getValue().firstName}}</span>
    <button mat-button style="padding-left: 1%" (click)="singOut()">Выйти</button>
  </ng-template>
  <!--  <div style="display:flex; flex-direction: row; text-align: center">-->
  <!--    <div style="display: flex; justify-items: center; align-items: center">-->
  <!--      <span>БНТУ</span>-->
  <!--    </div>-->

  <!--  </div>-->
</mat-toolbar>


