<div style="display: flex; flex-direction: column; justify-items: center; align-items: center">
  <!--<mat-card class="image-loader">-->
  <mat-spinner *ngIf="isHiddenImage" mode="determinate"></mat-spinner>
  <div style="display: flex; flex-direction: row">
    <div class="plan-background" [style.width.px]="imageWidth" [style.height.px]="imageHeight"
         [style.min-width.px]="imageWidth" [style.min-height.px]="imageHeight" style="border: 1px solid grey;"
         [style.background-image]="'url(' + backgroundImageUrl + ')'">
      <img *ngIf="!isHiddenImage">
      <ng-template #container>

      </ng-template>

    </div>
    <div style="margin-left: 2%; min-width: 250px" *ngIf="selectedClassroom">
      <h2 style="font-size: 23px"> Выбранная аудитория</h2>
      <div>
        <h2 style="font-size: 16px"> Номер: {{selectedClassroom.number}}</h2>
        <h2 style="font-size: 16px"> Вместимость: {{selectedClassroom.capacity}} чел.</h2>
        <h2 style="font-size: 16px"> Тип: {{selectedClassroom.classroomType.name}}</h2>
        <h2 style="font-size: 16px"> Специализация: {{selectedClassroom.classroomSpecialization.name}}</h2>
        <button mat-raised-button (click)="editClassroom()" style="margin-right: 2%">
          Редактировать
        </button>
        <button mat-raised-button (click)="removeClassroom()">
          Удалить
        </button>
      </div>
    </div>
  </div>

  <input type="file" id="selectedFile" (change)="selectFile($event)" style="display: none;">

  <!--  <br/>-->
  <!--</mat-card>-->
  <div style="display: flex; flex-direction: row; margin-top: 2%">
    <button mat-raised-button onclick="document.getElementById('selectedFile').click()">Загрузить эвакуационный план
    </button>
    <button mat-raised-button (click)="addClassroom()" style="margin-left: 1%">Добавить аудиторию</button>

  </div>


</div>
