<h2> Группы дисциплин </h2>
<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по группам дисциплин...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table #disciplineGroupTable mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th style="text-align: end" mat-header-cell class="icons" *matHeaderCellDef>
        <span class="material-icons" (click)="addDisciplineGroup()" style="cursor: pointer"
              matTooltip="Добавить группу дисциплин">
              add_circle
         </span>
      </th>

      <td style="text-align: end; width: 10%" mat-cell class="icons" *matCellDef="let disciplineGroup">
         <span class="material-icons" (click)="editDisciplineGroup(disciplineGroup)" style="cursor: pointer"
               matTooltip="Редактировать группу дисциплин">
             edit
         </span>
        <span class="material-icons" (click)="deleteDisciplineGroup(disciplineGroup)" style="cursor: pointer"
              matTooltip="Удалить группу дисциплин">
             delete
        </span>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
