.edit-add-dialog {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

h1 {
  text-align: center;
}

.fill-space {
  flex: 1 1 auto;
}

.controls {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
}

button {
  font-size: 17px;
}

span:focus {
  outline:none;
}
button:focus{
  outline:none;
}

.row {
  display: flex;
  flex-direction: row !important;
  margin: 1%;
}

.column{
  display: flex;
  flex-direction: column !important;
  margin: 1%;
}

mat-form-field {
  min-width: 600px;
}


.example-chip-list {
  width: 100%;
}

.mat-chip-remove {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  background: none;
  margin-left: 0 !important;
}

.chip-icon {
  font-size: 18px;
}
