.edit-add-dialog {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  justify-content: space-between;
}

mat-form-field {
  min-width: 600px;
}


.example-chip-list {
  width: 100%;
}

.mat-chip-remove {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  background: none;
  margin-left: 0 !important;
}

.chip-icon {
  font-size: 18px;
}
