<mat-spinner *ngIf="isLoading;else mainContent" diameter="150" mode="indeterminate" color="primary" class="spinner">
</mat-spinner>

<ng-template #mainContent>
  <div class="main-content" *ngIf="studyPlan" class="column">
    <h1 style="font-size: 30px; margin-left: 1%"> Учебный план </h1>
    <div class="row" style="font-size: 16px; margin-top: 1%">
      <div><b> Специализация: </b>  {{studyPlan.speciality.shortName}} </div>
      <div style="margin-left: 2%"><b> Квалификация: </b>   {{studyPlan.qualification.name}} </div>
      <div style="margin-left: 2%"><b> Форма
        обучения:</b>    {{resourceLocalizer.localizeEducationForm(studyPlan.educationForm)}}</div>

    </div>

    <div class="row" style="font-size: 16px;  margin-top: 1%">
      <div><b> Количество семестров: </b> {{semesterCount}} </div>
      <div style="margin-left: 2%"><b> Год разработки: </b> {{studyPlan.developmentYear}} </div>
      <div style="margin-left: 2%"><b> Статус:</b>  {{resourceLocalizer.localizeStudyPlanStatus(studyPlan.status)}}
      </div>
      <div style="margin-left: 2%"><b> Дата изменения статуса:</b>  {{studyPlan.statusChangeDate | date:'medium'}}
      </div>
    </div>
    <div class="row" style="font-size: 16px;  margin-top: 1%">
      <div><b>Дата создания: </b>   {{studyPlan.createdWhen | date: 'medium'}} </div>
      <div style="margin-left: 2%"><b>Дата изменения: </b>   {{studyPlan.updatedWhen | date: 'medium'}} </div>
      <div style="margin-left: 2%"><b>Регистрационный
        номер: </b>   {{this.printerService.printRegisterNumber(studyPlan.registerNumber)}} </div>
    </div>


    <div style=" margin-top: 1%">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px">
              График образовательного процесса
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="overflow: auto">
            <table class="schedule-table" *ngIf="!isScheduleLoading">
              <tbody>
              <tr>
                <td rowspan="3" class="border">Курсы</td>
                <td colspan="5" class="border">Сентябрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Октябрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Ноябрь</td>
                <td colspan="5" class="border">Декабрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Январь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Февраль</td>
                <td colspan="1" class="border"></td>
                <td colspan="5">Март</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Апрель</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Май</td>
                <td colspan="5">Июнь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Июль</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Август</td>
                <ng-container *ngIf="activities?.length">
                  <td rowspan="3"
                      *ngFor="let scheduleTotalActivity of studyPlan.scheduleTotalActivities">{{scheduleTotalActivity.activity.name}}</td>
                </ng-container>
                <td rowspan="3">Всего</td>
              </tr>
              <tr>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">3</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="2">26</td>
                <td colspan="1">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="2">23</td>
                <td colspan="1">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="2">30</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">4</td>
                <td colspan="1">11</td>
                <td colspan="1">18</td>
                <td colspan="1">25</td>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">3</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
              </tr>
              <tr>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="1">30</td>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">4</td>
                <td colspan="1">11</td>
                <td colspan="1">18</td>
                <td colspan="1">25</td>
                <td colspan="2">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="1">29</td>
                <td colspan="2">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">03</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
                <td colspan="1">31</td>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">05</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">02</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="1">31</td>
              </tr>
              <tr *ngFor="let course of studyPlan.courses">
                <td>{{studyPlan.courses.indexOf(course, 0) + 1}} </td>
                <td *ngFor="let week of course?.weeks" [attr.colspan]="week.colspan">
                  {{this.printerService.printWeekActivity(week)}}
                </td>
                <td
                  *ngFor="let scheduleTotalActivity of studyPlan.scheduleTotalActivities">{{this.studyPlanUtilService.calculateActivityPerCourse(scheduleTotalActivity.activity, course)}}</td>
                <td> {{this.studyPlanUtilService.calculateTotalActivitiesPerCourse(this.activities, course)}} </td>
              </tr>
              <tr>
                <td colspan="62" style="border: none"></td>

                <td *ngFor="let totalActivity of studyPlan.scheduleTotalActivities">
                  {{totalActivity.totalWeekCount}}
                </td>
                <td>
                  {{this.studyPlanUtilService.calculateTotalPlanActivities(this.studyPlan.scheduleTotalActivities)}}
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px">
              Структура плана
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <table #cyclesTable mat-table class="cycle-table" [dataSource]="cyclesDataSource" matSort
                   multiTemplateDataRows>

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> №</th>
                <td mat-cell *matCellDef="let cycle">
                  {{cycle.position}}.
                </td>
                <td mat-footer-cell *matFooterCellDef> Итого:</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Название</th>
                <td mat-cell *matCellDef="let cycle">
                  {{cycle.name}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                            [matColumnDef]=semesterLoad>
                <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                <td mat-cell *matCellDef="let cycle">
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container *ngFor="let load of displayedLoadColumns"
                            [matColumnDef]=load>
                <th mat-header-cell *matHeaderCellDef> {{load}}</th>
                <td mat-cell *matCellDef="let cycle"><span>
               {{this.printerService.printLoadHours(load, cycle)}} </span>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="totalHours">
                <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(cycle) }">
                  {{cycle.totalHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateTotalHours(this.cyclesDataSource.data)}} ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="classroomHours">
                <th mat-header-cell *matHeaderCellDef> Аудиторных</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(cycle) }">
                  {{cycle.classroomHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateClassroomHours(this.cyclesDataSource.data)}}
                  ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="selfHours">
                <th mat-header-cell *matHeaderCellDef> Самостоятельных</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(cycle) }">
                  {{cycle.totalHours - cycle.classroomHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateSelfHours(this.cyclesDataSource.data)}} ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="creditUnits">
                <th mat-header-cell *matHeaderCellDef> Зачетных единиц</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(cycle) }">
                  {{cycle.creditUnits}} з. ед.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateCreditUnits(this.cyclesDataSource.data)}} з.
                  ед.
                </td>
              </ng-container>


              <!--  COMPONENTS START  -->
              <ng-container matColumnDef="component-table-details">
                <td mat-cell *matCellDef="let cycle"
                    [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsComponentWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                    style="padding: 0 !important;">
                  <div class="example-element-detail"
                       [@detailExpand]="'expanded'" *ngIf="cycle.components && cycle.components.length !== 0">
                    <table #componentsTable mat-table class="full-width-table"
                           [dataSource]="createDataSource(cycle.components)" matSort
                           multiTemplateDataRows *ngIf="cycle.components && cycle.components.length !== 0">

                      <ng-container matColumnDef="position-component">
                        <th mat-header-cell *matHeaderCellDef> №</th>
                        <td mat-cell *matCellDef="let component"></td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Название</th>
                        <td mat-cell *matCellDef="let component">
                          {{component.name}}
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                    [matColumnDef]=semesterLoad>
                        <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                        <td mat-cell *matCellDef="let component">
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let load of displayedLoadColumns"
                                    [matColumnDef]=load>
                        <th mat-header-cell *matHeaderCellDef> {{load}}</th>
                        <td mat-cell *matCellDef="let component"> <span>
                        {{this.printerService.printLoadHoursComponent(load, component)}}  </span>
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="totalHours">
                        <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(component) }">
                          {{component.totalHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="classroomHours">
                        <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(component) }">
                          {{component.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="selfHours">
                        <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(component) }">
                          {{component.totalHours - component.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="creditUnits">
                        <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(component) }">
                          {{component.creditUnits}} з. ед.
                        </td>
                      </ng-container>

                      <!--  COMPONENT DISCIPLINES TABLE START  -->
                      <ng-container matColumnDef="discipline-component-table-details">
                        <td mat-cell *matCellDef="let component"
                            [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsDisciplineWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                            style="padding: 0 !important;">
                          <div class="example-element-detail"
                               [@detailExpand]="'expanded'"
                               *ngIf="component.disciplines && component.disciplines.length !== 0">
                            <div *ngIf="component.disciplines && component.disciplines.length !== 0">

                              <table #componentDisciplinesTable mat-table class="full-width-table"
                                     [dataSource]="createDataSource(component.disciplines)" matSort
                                     multiTemplateDataRows
                                     *ngIf="component.disciplines && component.disciplines.length !== 0">

                                <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                              [matColumnDef]=semesterLoad>
                                  <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    {{this.printerService.printSemestersDiscipline(semesterLoad, discipline)}}
                                  </td>
                                </ng-container>

                                <ng-container *ngFor="let load of displayedLoadColumns"
                                              [matColumnDef]=load>
                                  <th mat-header-cell *matHeaderCellDef>{{ load }}</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    <span> - </span>
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="position-discipline">
                                  <th mat-header-cell *matHeaderCellDef> №</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    <!--                                    {{cycle.position}}.{{discipline.position}}</td>-->
                                </ng-container>

                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Название</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    {{cycle.position}}
                                    .{{discipline.position}} &nbsp; {{discipline.name}}
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="totalHours">
                                  <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(discipline) }">
                                    {{discipline.totalHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="classroomHours">
                                  <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                                    {{discipline.classroomHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="selfHours">
                                  <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                                    {{discipline.totalHours - discipline.classroomHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="creditUnits">
                                  <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(discipline) }">
                                    {{discipline.creditUnits}} з. ед.
                                  </td>
                                </ng-container>

                                <tr mat-row
                                    *matRowDef="let component; columns: this.studyPlanUtilService.getDisplayedColumnsDisciplineWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                                    class="example-element-row">
                                </tr>
                              </table>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <!--  COMPONENT DISCIPLINES TABLE END  -->
                      <tr mat-row
                          *matRowDef="let component; columns: this.studyPlanUtilService.getDisplayedColumnsComponentWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                          class="example-element-row">
                      </tr>
                      <tr mat-row *matRowDef="let component; columns: ['discipline-component-table-details']"
                          class="example-detail-row"></tr>
                    </table>

                  </div>
                </td>
              </ng-container>
              <!-- COMPONENTS END -->


              <!-- CYCLES DISCIPLINES TABLE START -->
              <ng-container matColumnDef="disciplines-table-details-cycle">
                <td mat-cell *matCellDef="let cycle"
                    [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsCycleDisciplineWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                    style="padding: 0 !important;">
                  <div class="example-element-detail"
                       [@detailExpand]="'expanded'" *ngIf="cycle.disciplines && cycle.disciplines.length !== 0">
                    <table #cycleDisciplinesTable mat-table class="full-width-table"
                           [dataSource]="createDataSource(cycle.disciplines)" matSort
                           multiTemplateDataRows *ngIf="cycle.disciplines && cycle.disciplines.length !== 0">

                      <ng-container matColumnDef="position-cycle-discipline">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let discipline">
                          {{cycle.position}}.{{discipline.position}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Дисциплина</th>
                        <td mat-cell *matCellDef="let discipline">
                          {{this.printerService.printDisciplineName(discipline)}}
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                    [matColumnDef]=semesterLoad>
                        <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                        <td mat-cell
                            *matCellDef="let discipline">{{this.printerService.printSemestersDiscipline(semesterLoad, discipline)}} </td>
                      </ng-container>

                      <ng-container *ngFor="let load of displayedLoadColumns"
                                    [matColumnDef]=load>
                        <th mat-header-cell *matHeaderCellDef>{{load}}</th>
                        <td mat-cell *matCellDef="let discipline"> <span>
                         -  </span>
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="totalHours">
                        <th mat-header-cell *matHeaderCellDef>Всего часов</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(discipline) }">
                          {{discipline.totalHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="classroomHours">
                        <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                          {{discipline.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="selfHours">
                        <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                          {{discipline.totalHours - discipline.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="creditUnits">
                        <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(discipline) }">
                          {{discipline.creditUnits}} з. ед.
                        </td>
                      </ng-container>

                      <tr mat-row
                          *matRowDef="let discipline; columns: this.studyPlanUtilService.getDisplayedColumnsCycleDisciplineWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                          class="example-element-row">
                      </tr>
                    </table>
                  </div>
                </td>
              </ng-container>

              <!-- CYCLES DISCIPLINES TABLE END -->


              <tr mat-header-row
                  *matHeaderRowDef=" this.studyPlanUtilService.getDisplayedColumnsCycleWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"></tr>
              <tr mat-row
                  *matRowDef="let cycle; columns:  this.studyPlanUtilService.getDisplayedColumnsCycleWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                  class="example-element-row">
              </tr>

              <!--          <tr mat-row *matRowDef="let cycle; columns: ['icons']" class="example-element-row"  [class.example-expanded-row]="expandedCycle === cycle"></tr>-->
              <tr mat-row *matRowDef="let cycle; columns: ['component-table-details']" class="example-detail-row"></tr>
              <tr mat-row *matRowDef="let cycle; columns: ['disciplines-table-details-cycle']"
                  class="example-detail-row"></tr>
              <tr mat-footer-row
                  *matFooterRowDef=" this.studyPlanUtilService.getDisplayedColumnsCycleWithoutIcons(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"></tr>

            </table>

            <div style="margin-top: 1%">
              <button mat-raised-button style="margin-left: 1%" (click)="validateHoursInPlan()"> Проверить часы</button>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px">
              Распределение нагрузок
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="timetable-container" style="margin-top: 1%; overflow: auto;">
            <table class="timetable" id="timetable" style="width: 80%"
                   *ngIf="this.studyPlan.courses">
              <tbody>
              <tr>
                <td rowspan="6">№</td>
                <td class="vertical1" rowspan="6" colspan="2">Название</td>
                <td [attr.colspan]="this.studyPlan.courses.length * 2">Распределение по курсам и семестрам</td>
                <td class="vertical" rowspan="6">Кафедра</td>
              </tr>
              <tr>
                <td colspan="2"
                    *ngFor="let dummy of ' '.repeat(studyPlan.courses.length).split(''), let i = index">{{i + 1}}</td>
              </tr>
              <tr>
                <td
                  *ngFor="let dummy of ' '.repeat(studyPlan.courses.length * 2).split(''), let i = index">{{i + 1}}</td>
              </tr>
              <tr>
                <td [attr.colspan]="studyPlan.courses.length * 2">Недель в семестре</td>
              </tr>
              <tr>
                <td
                  *ngFor="let semester of studyPlan.semesters, let i = index"> {{this.getTheoreticalStudyWeekCountAsString(semester)}}</td>
                <td *ngIf="studyPlan.semesters.length % 2 === 1">
                  -
                </td>
              </tr>
              <tr>
                <td *ngFor="let dummy of ' '.repeat(studyPlan.courses.length * 2).split(''), let i = index"> всего часов
                  / ауд. часов /
                  з.ед.
                </td>

              </tr>

              <tr
                *ngFor="let discipline of this.studyPlanUtilService.getAllDisciplinesInPlan(this.studyPlan); let i = index">
                <td>{{i + 1}}</td>
                <td colspan="2">{{discipline.name}}</td>
                <td *ngFor="let semester of studyPlan.semesters ">
                  {{this.studyPlanUtilService.getTotalHoursPerSemester(discipline, semester)}}/
                  {{this.studyPlanUtilService.getClassroomHoursPerSemester(discipline, semester)}}/
                  {{this.studyPlanUtilService.getCreditUnitsPerSemester(discipline, semester)}}
                </td>
                <td *ngIf="studyPlan.semesters.length % 2 === 1">
                  <input type="number" class="input1"
                         [min]="0"
                         [max]="discipline.totalHours"
                         disabled> /
                  <input type="number" class="input1"
                         [min]="0"
                         [max]="discipline.classroomHours"
                         disabled

                  > /
                  <input type="number" class="input1"
                         [min]="0"
                         [max]="discipline.creditUnits"
                         disabled>
                </td>
                <!--              <td *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"></td>-->
                <td>{{this.localStorageService.subscribableDepartment.getValue()?.shortName}}</td>
              </tr>

              </tbody>
            </table>

            <div style="margin-left: 2%;">

              <table class="timetable">
                <tr>
                  <td colspan="4" style="height: 180px">
                    Сводобные часы
                  </td>
                </tr>

                <tr>
                  <td>Дисциплина</td>
                  <td>Всего часов</td>
                  <td>Аудиторных часов</td>
                  <td>Зачетных единиц</td>
                </tr>
                <tr *ngFor="let discipline of this.studyPlanUtilService.getAllDisciplinesInPlan(this.studyPlan)">
                  <td>{{discipline.name}}</td>
                  <td>{{this.studyPlanUtilService.calculateFreeTotalHours(discipline)}}</td>
                  <td>{{this.studyPlanUtilService.calculateFreeClassroomHours(discipline)}}</td>
                  <td>{{this.studyPlanUtilService.calculateFreeCreditUnits(discipline)}}</td>
                </tr>
              </table>

            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row" style=" margin-top: 1%; margin-left: 1%; margin-bottom: 1%">
    <button mat-raised-button (click)="editPlan()" *ngIf="isInDevelopmentStatus()"> Редактировать</button>
    <button mat-raised-button style="margin-left: 1%" (click)="sendToRegisterStudyPlan()"
            *ngIf="isInDevelopmentStatus()">
      Отправить на регистрацию
    </button>
    <button mat-raised-button (click)="registerStudyPlan()" *ngIf="isInToRegisterStatus()">
      Зарегистрировать
    </button>
    <button mat-raised-button style="margin-left: 1%;" (click)="goBack()"> Вернуться к планам</button>
  </div>
</ng-template>
