.main-content {
  width: 100%;
}

h1 {
  text-align: left;
}

mat-vertical-stepper {
  background: transparent;
}

.container {
  margin: 2%;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 300px;
  margin-right: 2%;
}

.submitButton {
  width: 200px;
}

.controls-container {
  margin-top: 1%;
}

.control-button {
  margin-right: 1%;
  min-width: 200px;
}

.column-position {
  padding: 0 !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  /*display: flex;*/
  width: 100%;
}

.swap {
  width: 3%;
}

.cycle-table {
  width: 100%;
  /*min-width: 100%;*/
  /*width: 100%;*/
  margin-bottom: 1%;
}


.full-width-table {
  width: 100%;
  /*margin-bottom: 1%;*/
  /*width: 100%;*/
}

table.full-width-table th, td {
  width: 5%;
}

.mat-column-position {
  width: 40px;
  padding: 0 !important;
  padding-left: 1% !important;
}

.mat-column-position-component {
  width: 40px;
  padding: 0 !important;
  padding-left: 2% !important;

}

.mat-column-position-cycle-discipline {
  width: 40px;
  padding: 0 !important;
  padding-left: 2% !important;
}

.mat-column-position-discipline {
  width: 40px;
  padding: 0 !important;
  padding-left: 3% !important;
}

.load {
  width: 100px;
}

.semester-load {
  width: 100px;
}

.mat-column-name {
  width: 200px;
}

.mat-column-totalHours {
  width: 100px;
}

.mat-column-classroomHours {
  width: 100px;
}

.mat-column-creditUnits {
  width: 100px;
}

.mat-column-selfHours {
  width: 100px;
}

.mat-column-icons {
  width: 100px;
}

.mat-column-component-table-details {
  border-bottom-width: 0;
}

.discipline-table {
  width: 100%;
  margin-bottom: 1%;
}

.row {
  display: flex;
  margin: 0;
}

mat-select {
  min-width: 30px;
}

table.schedule-table td {
  min-width: 20px;
  padding: 2px;
  font-size: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-right-color: rgba(0, 0, 0, 0.12);
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

table.schedule-table {
  text-align: center;
  font-size: 16px;
  background: white;
}

table.timetable td {
  min-width: 20px;
  padding: 7px;
  font-size: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-right-color: rgba(0, 0, 0, 0.12);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-break: normal;
}

table.timetable {
  text-align: center;
  font-size: 16px;
  background: white;
  word-break: normal;
}


.timetable-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  text-align: center;
  width: 100%;
}

.input1 {
  width: 45px;
  text-align: center;
}


table.timetable td {
  width: inherit;
}
