<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <form [formGroup]="teacherForm" class="column">

    <mat-form-field>
      <input matInput placeholder="Имя:" [formControlName]="'firstName'" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Фамилия:" [formControlName]="'lastName'" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Отчество:" [formControlName]="'patronymic'">
    </mat-form-field>


    <mat-form-field>
      <mat-select [compareWith]="compareObjects" placeholder="Должность: " [formControlName]="'teacherPosition'"
                  required>
        <mat-option *ngFor="let teacherPosition of info.teacherPositions" [value]="teacherPosition">
          {{teacherPosition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [compareWith]="compareObjects" placeholder="Научное звание: " [formControlName]="'academicTitle'"
                  required>
        <mat-option *ngFor="let academicTitle of info.academicTitles" [value]="academicTitle">
          {{academicTitle.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [compareWith]="compareObjects" placeholder="Научная степень: " [formControlName]="'academicDegree'"
                  required>
        <mat-option *ngFor="let academicDegree of info.academicDegrees" [value]="academicDegree">
          {{academicDegree.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [compareWith]="compareObjects" placeholder="В штатном составе: " [formControlName]="'staffType'" required>
        <mat-option *ngFor="let staffType of staffTypes" [value]="staffType">
          {{resourceLocalizerService.localizeStaffType(staffType)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isNeedToShowTariff()">
      <mat-select [compareWith]="compareObjects" placeholder="Рабочая ставка: " [formControlName]="'workTariff'">
        <mat-option *ngFor="let workTariff of info.workTariffs" [value]="workTariff">
          {{workTariff.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isNeedToShowHours()">
      <input matInput type="number" placeholder="Часы: " [formControlName]="'hours'">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Дополнительная информация: " [formControlName]="'additionalInfo'"></textarea>
    </mat-form-field>



  </form>
</mat-dialog-content>
<mat-dialog-actions class="controls">
  <mat-spinner *ngIf="loading" diameter="40" color="primary">
  </mat-spinner>
  <button mat-button color="primary" (click)="onConfirmClick()" [disabled]="teacherForm.invalid">
    Подтвердить
  </button>
  <button mat-button color="warn" (click)=onCancelClick()> Отмена</button>
</mat-dialog-actions>

