<h2> Типы работы </h2>
<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по типам работ...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table #workTypeTable mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th style="text-align: end" mat-header-cell class="icons" *matHeaderCellDef>
        <span class="material-icons" (click)="addWorkType()" style="cursor: pointer"
              matTooltip="Добавить тип работы">
              add_circle
         </span>
      </th>

      <td style="text-align: end; width: 10%" mat-cell class="icons" *matCellDef="let workType">
         <span class="material-icons" (click)="editWorkType(workType)" style="cursor: pointer"
               matTooltip="Редактировать тип работы">
             edit
         </span>
        <span class="material-icons" (click)="deleteWorkType(workType)" style="cursor: pointer"
              matTooltip="Удалить тип работы">
             delete
        </span>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
