<h2> Типы аудиторий </h2>

<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по типам аудиторий...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table #classroomTypesTable mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Цвет</th>
      <td mat-cell *matCellDef="let row">
        <input [style.background]="row.color"
               [cpOKButton]="true"
               [cpSaveClickOutside]="false"
               [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
               (colorPickerClose)="saveColor(row)"
               (colorPickerOpen)="savePreviousColorValue(row.color)"
               [cpOKButtonClass]= "'btn btn-primary btn-xs'"
               [(colorPicker)]="row.color"/>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>

