<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <form [formGroup]="classroomForm" class="column">

    <mat-form-field>
      <input matInput placeholder="Название:" [formControlName]="'number'" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Вместимость: " [formControlName]="'capacity'" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select [compareWith]="compareObjectsByName" placeholder="Тип: " [formControlName]="'classroomType'" required>
        <mat-option *ngFor="let type of classroomTypes" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [compareWith]="compareObjectsByName" placeholder="Специализация: "
                  [formControlName]="'classroomSpecialization'" required>
        <mat-option *ngFor="let spec of classroomSpecializations" [value]="spec">
          {{spec.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Статус: " [formControlName]="'classroomStatus'"
                  required>
        <mat-option *ngFor="let classroomStatus of classroomStatuses" [value]="classroomStatus">
          {{resourceLocalizerService.localizeClassroomStatus(classroomStatus)}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Тип назначения: " [formControlName]="'assignmentType'"
                  required>
        <mat-option *ngFor="let assignmentType of assignmentTypes" [value]="assignmentType">
          {{resourceLocalizerService.localizeAssignmentType(assignmentType)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="showDeaneryField()">
      <mat-form-field>
        <mat-select [compareWith]="compareObjects" placeholder="Деканат: " [formControlName]="'deanery'"
                    [required]="showDeaneryField()">
          <mat-option *ngFor="let deanery of deaneries" [value]="deanery">
            {{getDeaneryOrDepartmentName(deanery)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </ng-container>
    <ng-container *ngIf="showDepartmentField()">
      <mat-form-field>
        <mat-select [compareWith]="compareObjects" placeholder="Кафедра: " [formControlName]="'department'"
                    [required]="showDepartmentField()">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{getDeaneryOrDepartmentName(department)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>


  </form>
</mat-dialog-content>
<mat-dialog-actions class="controls">
  <mat-spinner *ngIf="loading" diameter="40" color="primary">
  </mat-spinner>
  <button mat-button color="primary" (click)="onConfirmClick()" [disabled]="classroomForm.invalid">
    Подтвердить
  </button>
  <button mat-button color="warn" (click)=onCancelClick()> Отмена</button>
</mat-dialog-actions>
