<div class="container">
  <h2 style="font-size: 28px"> {{title}}</h2>

  <!--   BASIC FORM START-->
  <form [formGroup]="basicPlanParamsForm" style="margin-top: 2%">
    <div class="row" style="font-size: 16px">
      <div><b> Специализация: </b>  {{this.studyPlan.speciality.shortName}} </div>
      <div style="margin-left: 2%"><b> Квалификация: </b>   {{this.studyPlan.qualification.name}} </div>
      <div style="margin-left: 2%"><b> Форма
        обучения:</b>    {{resourceLocalizer.localizeEducationForm(this.studyPlan.educationForm)}}</div>

    </div>

    <div class="row" style="font-size: 16px; margin-top: 2%">
      <div><b> Количество семестров: </b> {{this.studyPlan.semesters.length}} </div>
      <mat-form-field style="margin-left: 2%">
        <input matInput type="number" placeholder="Год разработки:"
               [formControlName]="'developmentYear'" required [min]="2000" [max]="2100">
      </mat-form-field>
    </div>

  </form>
  <!--  BASIC FORM END -->

  <mat-vertical-stepper #stepper [linear]="true">
    <!--  EDUCATIONAL SCHEDULE FORM START -->
    <mat-step [stepControl]='scheduleForm'>
      <form [formGroup]="scheduleForm">
        <ng-template matStepLabel> График образовательного процесса</ng-template>

        <mat-spinner
          *ngIf="isScheduleLoading; else schedule"
          diameter="75" mode="indeterminate" color="primary">
        </mat-spinner>

        <ng-template #schedule>
          <div style="overflow: auto">
            <table class="schedule-table" *ngIf="!isScheduleLoading">
              <tbody>
              <tr>
                <td rowspan="3" class="border">Курсы</td>
                <td colspan="5" class="border">Сентябрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Октябрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Ноябрь</td>
                <td colspan="5" class="border">Декабрь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4" class="border">Январь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Февраль</td>
                <td colspan="1" class="border"></td>
                <td colspan="5">Март</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Апрель</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Май</td>
                <td colspan="5">Июнь</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Июль</td>
                <td colspan="1" class="border"></td>
                <td colspan="4">Август</td>
                <ng-container *ngIf="activities?.length">
                  <td rowspan="3"
                      *ngFor="let scheduleTotalActivity of studyPlan.scheduleTotalActivities">{{scheduleTotalActivity.activity.name}}</td>
                </ng-container>
                <td rowspan="3">Всего</td>
              </tr>
              <tr>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">3</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="2">26</td>
                <td colspan="1">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="2">23</td>
                <td colspan="1">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="2">30</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">4</td>
                <td colspan="1">11</td>
                <td colspan="1">18</td>
                <td colspan="1">25</td>
                <td colspan="1">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">29</td>
                <td colspan="1">6</td>
                <td colspan="1">13</td>
                <td colspan="1">20</td>
                <td colspan="2">27</td>
                <td colspan="1">3</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
              </tr>
              <tr>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">2</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="1">30</td>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">4</td>
                <td colspan="1">11</td>
                <td colspan="1">18</td>
                <td colspan="1">25</td>
                <td colspan="2">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="2">1</td>
                <td colspan="1">8</td>
                <td colspan="1">15</td>
                <td colspan="1">22</td>
                <td colspan="1">29</td>
                <td colspan="2">5</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">03</td>
                <td colspan="1">10</td>
                <td colspan="1">17</td>
                <td colspan="1">24</td>
                <td colspan="1">31</td>
                <td colspan="1">7</td>
                <td colspan="1">14</td>
                <td colspan="1">21</td>
                <td colspan="1">28</td>
                <td colspan="2">05</td>
                <td colspan="1">12</td>
                <td colspan="1">19</td>
                <td colspan="1">26</td>
                <td colspan="2">02</td>
                <td colspan="1">9</td>
                <td colspan="1">16</td>
                <td colspan="1">23</td>
                <td colspan="1">31</td>
              </tr>
              <tr *ngFor="let course of studyPlan.courses">
                <td>{{studyPlan.courses.indexOf(course, 0) + 1}} </td>
                <td *ngFor="let week of course?.weeks" [attr.colspan]="week.colspan">
                  <select matNativeControl *ngIf="studyPlan.scheduleTotalActivities?.length" style="padding-top: 0"
                          (change)="onActivityChange(week, course, $event)"
                          [disabled]="checkSecondSemester(week, course.secondSemester)">
                    <option *ngFor="let scheduleTotalActivity of studyPlan.scheduleTotalActivities"
                            value="{{scheduleTotalActivity.activity.id}}"
                            [selected]="week.activity && week.activity.symbol==scheduleTotalActivity.activity.symbol">{{scheduleTotalActivity.activity.symbol}}</option>
                    <option [selected]="week.activity === undefined || week.activity === null" [value]="null"> n
                    </option>
                  </select>
                  <!--                <mat-select [value]="week.activity">-->
                  <!--                  <mat-option *ngFor="let activity of this.activities" [value]="activity" >-->
                  <!--                    {{activity.symbol}}-->
                  <!--                  </mat-option>-->
                  <!--                </mat-select>-->
                </td>
                <td
                  *ngFor="let scheduleTotalActivity of studyPlan.scheduleTotalActivities">{{this.studyPlanUtilService.calculateActivityPerCourse(scheduleTotalActivity.activity, course)}}</td>
                <td> {{this.studyPlanUtilService.calculateTotalActivitiesPerCourse(this.activities, course)}} </td>
              </tr>
              <tr>
                <td colspan="62" style="border: none"></td>

                <td *ngFor="let totalActivity of studyPlan.scheduleTotalActivities">
                  {{totalActivity.totalWeekCount}}
                </td>
                <td>
                  {{this.studyPlanUtilService.calculateTotalPlanActivities(this.studyPlan.scheduleTotalActivities)}}
                </td>
              </tr>

              </tbody>
            </table>
          </div>


          <div class="row">
            <div style="margin-right: 1%"> Обозначения:</div>
            <div *ngFor="let scheduleTotalActivity of this.studyPlan.scheduleTotalActivities" class="row">
              <div style="display: flex; border: 0.2px solid;min-width: 20px; margin-right: 5px; align-items: center;
justify-content: center;"> {{scheduleTotalActivity.activity.symbol}}</div>
              <span style="margin-right: 5px"> - </span>
              <div style="margin-right: 5px">  {{scheduleTotalActivity.activity.name}}  </div>
            </div>
            <div class="row">
              <div style="display: flex; border: 0.2px solid;min-width: 20px; margin-right: 5px; align-items: center;
justify-content: center;"> n
              </div>
              <span style="margin-right: 5px"> - </span>
              <div style="margin-right: 5px"> Не определено</div>
            </div>
          </div>
        </ng-template>


      </form>
    </mat-step>
    <!--  EDUCATIONAL SCHEDULE FORM END -->

    <!--  STRUCTURE STUDY PLAN FORM START -->
    <mat-step [stepControl]='structureStudyPlanForm'>
      <form [formGroup]="structureStudyPlanForm">
        <ng-template matStepLabel> Структура плана</ng-template>

        <mat-spinner
          *ngIf="isSemesterLoadLoading || isLoadLoading; else planStructure"
          diameter="75" mode="indeterminate" color="primary">
        </mat-spinner>

        <ng-template #planStructure>
          <!--  CYCLES TABLE START      -->
          <div>
            <table #cyclesTable mat-table class="cycle-table" [dataSource]="cyclesDataSource" matSort
                   multiTemplateDataRows>

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> №</th>
                <td mat-cell *matCellDef="let cycle">
                  {{cycle.position}}.
                </td>
                <td mat-footer-cell *matFooterCellDef> Итого:</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Название</th>
                <td mat-cell *matCellDef="let cycle">
                  {{cycle.name}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                            [matColumnDef]=semesterLoad>
                <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                <td mat-cell *matCellDef="let cycle">
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container *ngFor="let load of displayedLoadColumns"
                            [matColumnDef]=load>
                <th mat-header-cell *matHeaderCellDef> {{load}}</th>
                <td mat-cell *matCellDef="let cycle"><span>
               {{this.printerService.printLoadHours(load, cycle)}} </span>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="totalHours">
                <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(cycle) }">
                  {{cycle.totalHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateTotalHours(this.cyclesDataSource.data)}} ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="classroomHours">
                <th mat-header-cell *matHeaderCellDef> Аудиторных</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(cycle) }">
                  {{cycle.classroomHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateClassroomHours(this.cyclesDataSource.data)}}
                  ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="selfHours">
                <th mat-header-cell *matHeaderCellDef> Самостоятельных</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(cycle) }">
                  {{cycle.totalHours - cycle.classroomHours}} ч.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateSelfHours(this.cyclesDataSource.data)}} ч.
                </td>
              </ng-container>

              <ng-container matColumnDef="creditUnits">
                <th mat-header-cell *matHeaderCellDef> Зачетных единиц</th>
                <td mat-cell *matCellDef="let cycle"
                    [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(cycle) }">
                  {{cycle.creditUnits}} з. ед.
                </td>
                <td mat-footer-cell
                    *matFooterCellDef> {{this.studyPlanUtilService.calculateCreditUnits(this.cyclesDataSource.data)}} з.
                  ед.
                </td>
              </ng-container>


              <ng-container matColumnDef="icons">
                <th style="text-align: end" mat-header-cell class="icons" *matHeaderCellDef>
                  <!--                <button mat-icon-button class="material-icons table-mat-icon-element" (click)="addCycle()"-->
                  <!--                        matTooltip="Добавить цикл">-->
                  <!--                  <mat-icon> add_circle</mat-icon>-->
                  <!--                </button>-->
                <td mat-cell *matCellDef="let cycle; let i = dataIndex">
                  <div style="display: flex; justify-content: end">
                    <button mat-icon-button matTooltip="{{specificDisciplineAddTooltip(cycle)}}"
                            (click)="addSpecificDiscipline(cycle)" *ngIf="isSpecificAddIsAvailable(cycle)">
                      <mat-icon> add_circle</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Редактировать" (click)="editCycle(cycle)">
                      <mat-icon> edit</mat-icon>
                    </button>
                  </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!--  COMPONENTS START  -->
              <ng-container matColumnDef="component-table-details">
                <td mat-cell *matCellDef="let cycle"
                    [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsComponent(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                    style="padding: 0 !important;">
                  <div class="example-element-detail"
                       [@detailExpand]="'expanded'" *ngIf="cycle.components && cycle.components.length !== 0">
                    <table #componentsTable mat-table class="full-width-table"
                           [dataSource]="createDataSource(cycle.components)" matSort
                           multiTemplateDataRows *ngIf="cycle.components && cycle.components.length !== 0">

                      <ng-container matColumnDef="position-component">
                        <th mat-header-cell *matHeaderCellDef> №</th>
                        <td mat-cell *matCellDef="let component"></td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Название</th>
                        <td mat-cell *matCellDef="let component">
                          {{component.name}}
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                    [matColumnDef]=semesterLoad>
                        <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                        <td mat-cell *matCellDef="let component">
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let load of displayedLoadColumns"
                                    [matColumnDef]=load>
                        <th mat-header-cell *matHeaderCellDef> {{load}}</th>
                        <td mat-cell *matCellDef="let component"> <span>
                        {{this.printerService.printLoadHoursComponent(load, component)}}  </span>
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="totalHours">
                        <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(component) }">
                          {{component.totalHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="classroomHours">
                        <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(component) }">
                          {{component.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="selfHours">
                        <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(component) }">
                          {{component.totalHours - component.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="creditUnits">
                        <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                        <td mat-cell *matCellDef="let component"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(component) }">
                          {{component.creditUnits}} з. ед.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="icons">
                        <th mat-header-cell *matHeaderCellDef class="column-position"></th>
                        <td mat-cell *matCellDef="let component; let i = dataIndex">
                          <div style="display: flex; justify-content: end">
                            <button mat-icon-button matTooltip="Добавить дисциплину"
                                    (click)="addStudyDiscipline(component, cycle)"
                                    *ngIf="this.studyPlanUtilService.isComponentMatchType(component, this.basicComponentType)">
                              <mat-icon> add_circle</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Редактировать компоненту"
                                    (click)="editComponent(component, cycle)">
                              <mat-icon> edit</mat-icon>
                            </button>
                          </div>
                        </td>
                      </ng-container>
                      <!--  COMPONENT DISCIPLINES TABLE START  -->
                      <ng-container matColumnDef="discipline-component-table-details">
                        <td mat-cell *matCellDef="let component"
                            [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsDiscipline(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                            style="padding: 0 !important;">
                          <div class="example-element-detail"
                               [@detailExpand]="'expanded'"
                               *ngIf="component.disciplines && component.disciplines.length !== 0">
                            <div *ngIf="component.disciplines && component.disciplines.length !== 0">

                              <table #componentDisciplinesTable mat-table class="full-width-table"
                                     [dataSource]="createDataSource(component.disciplines)" matSort
                                     multiTemplateDataRows
                                     *ngIf="component.disciplines && component.disciplines.length !== 0">

                                <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                              [matColumnDef]=semesterLoad>
                                  <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    {{this.printerService.printSemestersDiscipline(semesterLoad, discipline)}}
                                  </td>
                                </ng-container>

                                <ng-container *ngFor="let load of displayedLoadColumns"
                                              [matColumnDef]=load>
                                  <th mat-header-cell *matHeaderCellDef>{{ load }}</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    <span> {{this.printerService.printLoadHoursDiscipline(load, discipline)}} </span>
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="position-discipline">
                                  <th mat-header-cell *matHeaderCellDef> №</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    <!--                                    {{cycle.position}}.{{discipline.position}}</td>-->
                                </ng-container>

                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Название</th>
                                  <td mat-cell *matCellDef="let discipline">
                                    {{cycle.position}}
                                    .{{discipline.position}} &nbsp; {{discipline.name}}
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="totalHours">
                                  <th mat-header-cell *matHeaderCellDef> Всего часов</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(discipline) }">
                                    {{discipline.totalHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="classroomHours">
                                  <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                                    {{discipline.classroomHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="selfHours">
                                  <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                                    {{discipline.totalHours - discipline.classroomHours}} ч.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="creditUnits">
                                  <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                                  <td mat-cell *matCellDef="let discipline"
                                      [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(discipline) }">
                                    {{discipline.creditUnits}} з. ед.
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="icons">
                                  <th mat-header-cell *matHeaderCellDef></th>
                                  <td mat-cell *matCellDef="let discipline; let i = dataIndex">
                                    <div style="display: flex; justify-content: end">
                                      <button mat-icon-button matTooltip="Редактировать дисциплину"
                                              (click)="editStudyDiscipline(discipline, component)">
                                        <mat-icon> edit</mat-icon>
                                      </button>
                                      <button mat-icon-button matTooltip="Удалить дисциплину"
                                              (click)="removeDisciplineFromComponent(i, component, cycle)"
                                              *ngIf="isRemoveIsAvailable(discipline)"
                                      >
                                        <mat-icon> delete</mat-icon>
                                      </button>
                                      <!--                                    <div class="column"-->
                                      <!--                                         style="justify-content: center; align-items: center; align-content: center">-->
                                      <!--                                      <mat-icon (click)="swapWithUpperComponentDiscipline(i, component)"-->
                                      <!--                                                style="cursor: pointer"> expand_less-->
                                      <!--                                      </mat-icon>-->
                                      <!--                                      <mat-icon (click)="swapWithLowerComponentDiscipline(i, component)"-->
                                      <!--                                                style="cursor: pointer"> expand_more-->
                                      <!--                                      </mat-icon>-->
                                      <!--                                    </div>-->
                                    </div>
                                  </td>
                                </ng-container>

                                <!--                              <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsDiscipline()"></tr>-->
                                <tr mat-row
                                    *matRowDef="let component; columns: this.studyPlanUtilService.getDisplayedColumnsDiscipline(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                                    class="example-element-row">
                                </tr>
                              </table>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <!--  COMPONENT DISCIPLINES TABLE END  -->
                      <!--                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsComponent()"></tr>-->
                      <tr mat-row
                          *matRowDef="let component; columns: this.studyPlanUtilService.getDisplayedColumnsComponent(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                          class="example-element-row">
                      </tr>
                      <tr mat-row *matRowDef="let component; columns: ['discipline-component-table-details']"
                          class="example-detail-row"></tr>
                    </table>

                  </div>
                </td>
              </ng-container>
              <!-- COMPONENTS END -->


              <!-- CYCLES DISCIPLINES TABLE START -->
              <ng-container matColumnDef="disciplines-table-details-cycle">
                <td mat-cell *matCellDef="let cycle"
                    [attr.colspan]="this.studyPlanUtilService.getDisplayedColumnsCycleDiscipline(this.displayedSeverityLoadColumns, this.displayedLoadColumns).length"
                    style="padding: 0 !important;">
                  <div class="example-element-detail"
                       [@detailExpand]="'expanded'" *ngIf="cycle.disciplines && cycle.disciplines.length !== 0">
                    <table #cycleDisciplinesTable mat-table class="full-width-table"
                           [dataSource]="createDataSource(cycle.disciplines)" matSort
                           multiTemplateDataRows *ngIf="cycle.disciplines && cycle.disciplines.length !== 0">

                      <ng-container matColumnDef="position-cycle-discipline">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let discipline">
                          {{cycle.position}}.{{discipline.position}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Дисциплина</th>
                        <td mat-cell *matCellDef="let discipline">
                          {{this.printerService.printDisciplineName(discipline)}}
                        </td>
                      </ng-container>

                      <ng-container *ngFor="let semesterLoad of displayedSeverityLoadColumns"
                                    [matColumnDef]=semesterLoad>
                        <th mat-header-cell *matHeaderCellDef> {{semesterLoad}}</th>
                        <td mat-cell
                            *matCellDef="let discipline">{{this.printerService.printSemestersDiscipline(semesterLoad, discipline)}} </td>
                      </ng-container>

                      <ng-container *ngFor="let load of displayedLoadColumns"
                                    [matColumnDef]=load>
                        <th mat-header-cell *matHeaderCellDef>{{load}}</th>
                        <td mat-cell
                            *matCellDef="let discipline"> {{this.printerService.printLoadHoursDiscipline(load, discipline)}}
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="totalHours">
                        <th mat-header-cell *matHeaderCellDef>Всего часов</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidTotalHoursTextColor(discipline) }">
                          {{discipline.totalHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="classroomHours">
                        <th mat-header-cell *matHeaderCellDef>Аудиторных</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                          {{discipline.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="selfHours">
                        <th mat-header-cell *matHeaderCellDef>Самостоятельных</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidClassroomHoursTextColor(discipline) }">
                          {{discipline.totalHours - discipline.classroomHours}} ч.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="creditUnits">
                        <th mat-header-cell *matHeaderCellDef>Зачетных единиц</th>
                        <td mat-cell *matCellDef="let discipline"
                            [ngStyle]="{'color': this.studyPlanUtilService.selectValidCreditUnitHoursTextColor(discipline) }">
                          {{discipline.creditUnits}} з. ед.
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="icons">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let discipline; let i = dataIndex">
                          <div style="display: flex; justify-content: end">
                            <button mat-icon-button matTooltip="Редактировать дисциплину"
                                    (click)="editDisciplineOfCycle(discipline, cycle)"
                                    *ngIf="!isSpecificAddIsAvailable(cycle)">
                              <mat-icon> edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Редактировать дисциплину"
                                    (click)="editSpecificDiscipline(discipline, cycle)"
                                    *ngIf="isSpecificAddIsAvailable(cycle)">
                              <mat-icon> edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Удалить дисциплину"
                                    (click)="removeDisciplineFromCycle(discipline, cycle)"
                                    *ngIf="isSpecificAddIsAvailable(cycle)">
                              <mat-icon> delete</mat-icon>
                            </button>
                            <div class="column"
                                 style="justify-content: center; align-items: center; align-content: center">
                              <mat-icon (click)="swapWithUpperCycleDiscipline(i, cycle)" style="cursor: pointer">
                                expand_less
                              </mat-icon>
                              <mat-icon (click)="swapWithLowerCycleDiscipline(i, cycle)" style="cursor: pointer">
                                expand_more
                              </mat-icon>
                            </div>
                          </div>
                        </td>
                      </ng-container>

                      <!--                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsCycleDiscipline()"></tr>-->
                      <tr mat-row
                          *matRowDef="let discipline; columns: this.studyPlanUtilService.getDisplayedColumnsCycleDiscipline(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                          class="example-element-row">
                      </tr>
                    </table>
                  </div>
                </td>
              </ng-container>

              <!-- CYCLES DISCIPLINES TABLE END -->


              <tr mat-header-row
                  *matHeaderRowDef=" this.studyPlanUtilService.getDisplayedColumnsCycle(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"></tr>
              <tr mat-row
                  *matRowDef="let cycle; columns:  this.studyPlanUtilService.getDisplayedColumnsCycle(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"
                  class="example-element-row">
              </tr>

              <!--          <tr mat-row *matRowDef="let cycle; columns: ['icons']" class="example-element-row"  [class.example-expanded-row]="expandedCycle === cycle"></tr>-->
              <tr mat-row *matRowDef="let cycle; columns: ['component-table-details']" class="example-detail-row"></tr>
              <tr mat-row *matRowDef="let cycle; columns: ['disciplines-table-details-cycle']"
                  class="example-detail-row"></tr>
              <tr mat-footer-row
                  *matFooterRowDef=" this.studyPlanUtilService.getDisplayedColumnsCycle(this.displayedSeverityLoadColumns, this.displayedLoadColumns);"></tr>

            </table>
          </div>
          <!-- CYCLES TABLE END -->
        </ng-template>
      </form>
      <button mat-raised-button class="control-button" (click)="validateHoursInPlan()"> Проверить часы</button>
      <!--  STRUCTURE STUDY PLAN FORM START -->
    </mat-step>


    <mat-step [stepControl]='studyPlanHoursLoadForm'>
      <form [formGroup]="studyPlanHoursLoadForm">
        <ng-template matStepLabel> Распределение нагрузок</ng-template>
        <div class="timetable-container" style="margin-top: 1%; overflow: auto;">
          <table class="timetable" id="timetable" style="width: 80%"
                 *ngIf="this.studyPlan.courses">
            <tbody>
            <tr>
              <td rowspan="6">№</td>
              <td class="vertical1" rowspan="6" colspan="2">Название</td>
              <td [attr.colspan]="this.studyPlan.courses.length * 2">Распределение по курсам и семестрам</td>
              <td class="vertical" rowspan="6">Кафедра</td>
            </tr>
            <tr>
              <td colspan="2"
                  *ngFor="let dummy of ' '.repeat(studyPlan.courses.length).split(''), let i = index">{{i + 1}}</td>
            </tr>
            <tr>
              <td *ngFor="let dummy of ' '.repeat(studyPlan.courses.length * 2).split(''), let i = index">{{i + 1}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="studyPlan.courses.length * 2">Недель в семестре</td>
            </tr>
            <tr>
              <td
                *ngFor="let semester of studyPlan.semesters, let i = index"> {{this.getTheoreticalStudyWeekCountAsString(semester)}}</td>
              <td *ngIf="studyPlan.semesters.length % 2 === 1">
                -
              </td>
            </tr>
            <tr>
              <td *ngFor="let dummy of ' '.repeat(studyPlan.courses.length * 2).split(''), let i = index"> всего часов
                / ауд. часов /
                з.ед.
              </td>

            </tr>

            <tr *ngFor="let discipline of this.getAllStudyDisciplinesInCurrentPlan(); let i = index">
              <td>{{i + 1}}</td>
              <td colspan="2">{{discipline.name}}</td>
              <td *ngFor="let semester of studyPlan.semesters ">
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.totalHours"
                       (change)="changeTotalDisciplineHoursPerSemester($event, discipline, semester)"
                       [value]="this.studyPlanUtilService.getTotalHoursPerSemester(discipline, semester)"> /
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.classroomHours"
                       (change)="changeClassroomDisciplineHoursPerSemester($event, discipline, semester)"
                       [value]="this.studyPlanUtilService.getClassroomHoursPerSemester(discipline, semester)"> /
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.creditUnits"
                       (change)="changeDisciplineCreditUnitsPerSemester($event, discipline, semester)"
                       [value]="this.studyPlanUtilService.getCreditUnitsPerSemester(discipline, semester)">
              </td>
              <td *ngIf="studyPlan.semesters.length % 2 === 1">
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.totalHours"
                       disabled> /
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.classroomHours"
                       disabled

                > /
                <input type="number" class="input1"
                       [min]="0"
                       [max]="discipline.creditUnits"
                       disabled>
              </td>
              <!--              <td *ngFor="let dummy of ' '.repeat(semsLost).split(''), let i = index"></td>-->
              <td>{{this.localStorage.subscribableDepartment.getValue()?.shortName}}</td>
            </tr>

            </tbody>
          </table>

          <div style="margin-left: 2%;">

            <table class="timetable">

              <tr>
                <td colspan="4" style="height: 170px">
                  Сводобные часы
                </td>
              </tr>

              <tr>
                <td>Дисциплина</td>
                <td>Всего часов</td>
                <td>Аудиторных часов</td>
                <td>Зачетных единиц</td>
              </tr>
              <tr *ngFor="let discipline of getAllStudyDisciplinesInCurrentPlan()">
                <td>{{discipline.name}}</td>
                <td>{{this.studyPlanUtilService.calculateFreeTotalHours(discipline)}}</td>
                <td>{{this.studyPlanUtilService.calculateFreeClassroomHours(discipline)}}</td>
                <td>{{this.studyPlanUtilService.calculateFreeCreditUnits(discipline)}}</td>
              </tr>
            </table>

          </div>
        </div>

      </form>
    </mat-step>
  </mat-vertical-stepper>

  <div class="controls-container">
    <mat-spinner *ngIf="isLoading" diameter="20" mode="indeterminate" color="primary"
                 class="spinner">
    </mat-spinner>
    <button mat-raised-button class="control-button" (click)='isEditCase? edit() : submit()'
            [disabled]="basicPlanParamsForm.invalid"> {{isEditCase ? 'Сохранить' : 'Создать'}}
    </button>

    <button mat-raised-button class="control-button" (click)='redirectToPlansPage()'> Отмена
    </button>
  </div>
</div>
