<h2> Рабочие ставки </h2>
<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по рабочим ставкам...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table #workTariffTable mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th style="text-align: end" mat-header-cell class="icons" *matHeaderCellDef>
        <button class="material-icons table-mat-icon-element" mat-icon-button (click)="addWorkTariff()"
                matTooltip="Добавить рабочую ставку">
          <mat-icon> add_circle</mat-icon>
        </button>
      </th>

      <td style="text-align: end; width: 10%" mat-cell class="icons" *matCellDef="let workTariff">
        <button mat-icon-button (click)="editWorkTariff(workTariff)"
                matTooltip="Редактировать рабочую ставку">
          <mat-icon> edit</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteWorkTariff(workTariff)"
                matTooltip="Удалить рабочую ставкуу">
          <mat-icon> delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
