/* You can add global styles to this file, and also import other style files */

@import "~angular-notifier/styles.css";
@import "~angular-notifier/styles/themes/theme-material.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: white;
}

.table-mat-icon-element {
  color: black;
}

.delete-dialog-controls {
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}


.table-content {
  width: 100% !important;
  margin: 2% !important;
}

.spinner{
  margin: 10% auto auto;
  height: 100%;
  width: 100%;
}

.margin-left-top {
  margin: 2% 2%;
}

.example-spacer {
  flex: 1 1 auto;
}
