<h2> Расписания занятий </h2>

<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по расписаниям...">
</mat-form-field>

<div class="mat-elevation-z8">
  <table #timetablesTable mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название</th>
      <td mat-cell *matCellDef="let timetable">
        {{printerService.printTimetableLabelName(timetable)}} ||
        {{printerService.resourceLocalizerService.localizedTimetableStatus(timetable.status)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdWhen">
      <th mat-header-cell *matHeaderCellDef> Дата создания</th>
      <td mat-cell *matCellDef="let timetable">   {{timetable?.createdWhen | date: 'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedWhen">
      <th mat-header-cell *matHeaderCellDef> Дата изменения</th>
      <td mat-cell *matCellDef="let timetable"> {{timetable?.updatedWhen | date: 'medium'}}  </td>
    </ng-container>

<!--    <ng-container matColumnDef="createdWhen">-->
<!--      <th mat-header-cell *matHeaderCellDef> Дата создания</th>-->
<!--      <td mat-cell *matCellDef="let timetable"> {{studyPlan?.createdWhen | date: 'medium'}}  </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="updatedWhen">-->
<!--      <th mat-header-cell *matHeaderCellDef> Дата изменения</th>-->
<!--      <td mat-cell *matCellDef="let timetable"> {{studyPlan?.updatedWhen | date: 'medium'}}  </td>-->
<!--    </ng-container>-->


    <!--    <ng-container matColumnDef="description">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание</th>-->
    <!--      <td mat-cell *matCellDef="let row"> {{row.description}} </td>-->
    <!--    </ng-container>-->
    <ng-container matColumnDef="icons">
      <th style="text-align: end" mat-header-cell class="icons" *matHeaderCellDef>
        <button class="material-icons table-mat-icon-element" mat-icon-button (click)="addTimetable()" matTooltip="Создать расписание">
          <mat-icon> add_circle</mat-icon>
        </button>
      </th>


      <td style="text-align: end; width: 10%" mat-cell class="icons" *matCellDef="let timetable">
        <button mat-icon-button class="material-icons" matTooltip="Открыть расписание" (click)="goToTimetable(timetable)">
          <mat-icon> open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="editTimetable(timetable)" matTooltip="Редактировать расписание">
          <mat-icon> edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTimetable(timetable)" matTooltip="Удалить расписание">
          <mat-icon> delete</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>

