<div class="row" *ngIf="timetable">
  <div class="col-md-6 text-right" style="text-align: center; width: 100%">
    <h3 style="font-size: 24px; width: 70%"> {{timetableTitle}} </h3>
  </div>
</div>

<!--<ng-template-->
<!--  #weekViewHourSegmentTemplate-->
<!--  let-segment="segment"-->
<!--  let-locale="locale"-->
<!--  let-segmentHeight="segmentHeight"-->
<!--  let-isTimeLabel="isTimeLabel">-->
<!--  <div-->
<!--    #segmentElement-->
<!--    class="cal-hour-segment"-->
<!--    [style.height.px]="segmentHeight"-->
<!--    [class.cal-hour-start]="segment.isStart"-->
<!--    [class.cal-after-hour-start]="!segment.isStart"-->
<!--    [ngClass]="segment.cssClass">-->
<!--    <div class="cal-time" *ngIf="isTimeLabel">-->
<!--      {{ segment.date | calendarDate:'weekViewHour':locale }}-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->


<!-- Customer header template. Only week day rendering -->
<ng-template
  #headerTemplate
  let-days="days"
  let-locale="locale"
  let-dayHeaderClicked="dayHeaderClicked"
  let-eventDropped="eventDropped"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
  let-dragEnter="dragEnter"
>
  <div class="cal-day-headers" role="row">
    <div
      class="cal-header"
      style="padding: 10px"
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [ngClass]="day.cssClass"
      (mwlClick)="dayHeaderClicked.emit({ day: day, sourceEvent: $event })"
      mwlDroppable
      dragOverClass="cal-drag-over"
      (drop)="
            eventDropped.emit({
              event: $event.dropData.event,
              newStart: day.date
            })
          "
      (dragEnter)="dragEnter.emit({ date: day.date })"
      tabindex="0"
      role="columnheader">
      <b style="font-size: 18px;">{{ day.date | calendarDate: 'weekViewColumnHeader':locale }}</b
      ><br/>
    </div>
  </div>
</ng-template>


<div style="display: flex; flex-direction: row">
  <div style="width: 70%;">
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [dayStartHour]="8"
      [dayEndHour]="22"
      [excludeDays]="[0]"
      [hourSegmentHeight]="65"
      [weekStartsOn]="1"
      [refresh]="refresh"
      [headerTemplate]="headerTemplate"
      [eventTemplate]="eventTemplateCustom"
      (eventClicked)="onEventClicked($event)"
      (hourSegmentClicked)="onSegmentClick($event)">
    </mwl-calendar-week-view>
  </div>


  <ng-template
    #eventTemplateCustom
    let-weekEvent="weekEvent"
    let-eventClicked="eventClicked">
    <div
      class="cal-event"
      style="box-shadow: 5px 5px 5px rgba(187,187,187,0.25); overflow: auto; "
      [style.background]="weekEvent.event.meta.onceInTwoWeek? 'repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)  1px,'
       + weekEvent.event.color?.primary + ' 2px,' +  weekEvent.event.color?.primary + ' 15px)': weekEvent.event.color?.primary"
      [style.border-color]="weekEvent.event.color?.secondary"
      (mwlClick)="eventClicked.emit({
                    event: weekEvent.event,
                    sourceEvent: weekEvent.event
                  })">
      <mwl-calendar-event-actions
        [event]="weekEvent.event">
      </mwl-calendar-event-actions>
      &ngsp;
      <mwl-calendar-event-title
        [event]="weekEvent.event"
        [style.color]="weekEvent.event.color?.secondary"
        [style.font-size]="'15px'"
        [customTemplate]="eventTemplate"
        view="week">
      </mwl-calendar-event-title>
    </div>
  </ng-template>

  <ng-template #eventTemplate let-event="event">
    <div class="column">
      <div>
        {{event.meta.discipline.name}}
      </div>
      <div>
        {{printerService.resourceLocalizerService.localizedLessonType(event.meta.lessonType)}}
      </div>
      <div class="row">
        к.: {{event.meta.building.number}}&nbsp;
        <div>
          ауд.: {{event.meta.classroom.number}}
        </div>
      </div>

      <div>
        Преподаватель: {{event.meta.teacher.firstName}} {{event.meta.teacher.lastName}}
      </div>

      <div *ngIf="event.meta.groups || event.meta.subgrops">
        Группы:
        <div *ngIf="event.meta.groups">
          <div *ngFor="let gr of event.meta.groups">
            {{gr.number}}
          </div>
        </div>

        <div *ngIf="event.meta.subgroups">
          <div *ngFor="let gr of event.meta.subgroups">
            {{getGroupNumberBySubId(gr.id)}}-{{gr.number}}
          </div>
        </div>
      </div>

    </div>
  </ng-template>


  <div style="width: 30%; background-color: white; margin-left: 10px">

    <div class="row">
      <h3> Обозначения: </h3>

      <div class="row">
        <div style=" width: 20px;
    height: 20px; border: 1px solid black;
    background: rgb(167, 235, 186); margin-right: 5px">
        </div>
        <span style="margin-right: 5px"> - </span>
        <div style="margin-right: 5px"> Лекции</div>
      </div>

      <div class="row">
        <div style=" width: 20px;
    height: 20px; border: 1px solid black;
    background: rgb(165, 192, 232); margin-right: 5px">
        </div>
        <span style="margin-right: 5px"> - </span>
        <div style="margin-right: 5px"> Лаб.</div>
      </div>

      <div class="row">
        <div style=" width: 20px;
    height: 20px; border: 1px solid black;
    background: rgba(210, 0, 0, 0.7); margin-right: 5px">
        </div>
        <span style="margin-right: 5px"> - </span>
        <div style="margin-right: 5px"> Практика</div>
      </div>

      <div class="row">
        <div style=" width: 20px;
    height: 20px;
    background:  repeating-linear-gradient(-45deg, black,
     black  1px, white 5px, white  10px); border: 1px solid black;  margin-right: 5px">
      </div>
      <span style="margin-right: 5px"> - </span>
      <div style="margin-right: 5px"> Раз в неделю</div>
    </div>


  </div>


  <div class="col-md-6 text-right" style="text-align: center; width: 100%">
    <h3 style="font-size: 24px;"> Учебные планы </h3>
  </div>
  <div *ngFor="let s2g of studyPlanId2GroupsOrSubgroups | keyvalue; let i = index"
       [ngStyle]="{'margin-top': i === 0 ? '0%' : '4%' }">

    <!--      Доступно недель для распределения: {{this.studyPlanId2TotalClassroomWeeksInSemester.get(s2g.key)}}-->
    <div style="overflow: auto">
      <table class="timetable">

        <tr>
          <td
            [attr.colspan]="s2g.value.length + 1"> {{printerService.printStudyPlanNameShort(this.studyPlanIdToStudyPlan.get(s2g.key))}}. Недель в семестре: {{this.studyPlanId2TotalClassroomWeeksInSemester.get(s2g.key)}} </td>
        </tr>

        <tr>
          <td [attr.rowspan]="2">Дисциплина</td>
          <td [attr.colspan]="s2g.value.length"> Группы и подгруппы</td>
        </tr>

        <tr>
          <td *ngFor="let g of s2g.value"> {{printerParentGroupNumberIfSubgroup(g.id)}}{{g.number}} </td>
        </tr>

        <tr *ngFor="let discipline of getDisciplinesForStudyPlan(s2g.key)">
          <td>{{discipline.name}}</td>
          <td *ngFor="let g of s2g.value">
            {{this.calculatedDistributedHoursForDiscipline(s2g.key, g.id, discipline.id)}}
            ч. / {{getTotalHoursByPlan(discipline)}}ч.
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div style="display: flex; margin-top: 2%; justify-content: flex-end">
    <button mat-raised-button style="margin-right: 2%"> Проверить часы </button>
    <button mat-raised-button style="margin-right: 2%"> Сохранить</button>
    <button mat-raised-button style="margin-right: 2%"> Отменить</button>
  </div>

</div>


</div>

